#clockContainer {
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(./Analog_Clock/clock.png) no-repeat;
    background-size: 100%;
    position: relative;
}

#hour, #minute, #second {
    position: absolute;
    background-color: black;
    border-radius: 10px;
}

#hour {
    height: 22%;
    width: 1%;
    top: 28%;
    left: 49.5%;
    opacity: 0.8;
    transform-origin: bottom;
}

#minute {
    height: 30%;
    width: 1%;
    top: 20%;
    left: 49.5%;
    opacity: 0.8;
    transform-origin: bottom;
}

#second {
    height: 35%;
    width: 1%;
    top: 15%;
    left: 49.5%;
    opacity: 0.8;
    transform-origin: bottom;
    
}