@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto:ital,wght@0,400;1,100&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.button {
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    width: 60px;
    font-size: larger;
    font-weight: bolder;
}


.row {
    margin: 8px 0;
}

.row input {
    width: 270px;
    margin: 0;
    margin-top: 3px;
    padding: 50px 0px;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 50px;
    background-color: gray;
    color: white;
}