<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Circular Navebar</title>
        <link rel="stylesheet" href="circular_navbar.css">
        <script src="https://kit.fontawesome.com/87fa768f0d.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="navbar">
            <ul class="menu">
                <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
                <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                <li><a href="https://www.youtube.com/" class="fa fa-youtube"></a></li>
                <li><a href="https://www.facebook.com/" class="fa fa-facebook"></a></li>
                <li><a href="https://www.google.com/" class="fa fa-google-plus"></a></li>
                <li><a href="https://www.rss.com/" class="fa fa-rss"></a></li>
                <li><a href="https://www.github.com/" class="fa fa-github"></a></li>
                <li><a href="https://www.chrome.com/" class="fa fa-chrome"></a></li>
                <li><a href="https://www.pinterest.com/" class="fa fa-pinterest"></a></li>
                <!-- <li><a href class="fa fa-instagram"></a></li>
                <li><a href class="fa fa-instagram"></a></li> -->
            </ul>
        </div>
    </body>
</html>